@font-face {
	font-family: 'TT Hoves';
	src: url('/fonts/TTHoves-Light.eot') format('eot'),
		url('/fonts/TTHoves-Light.ttf') format('ttf'),
		url('/fonts/TTHoves-Light.woff') format('woff'),
		url('/fonts/TTHoves-Light.woff2') format('woff2');
	font-display: auto;
	font-style: normal;
}

@font-face {
	font-family: 'Radiate Sans Bold';
	src: url('/fonts/Radiate-Sans-Bold.eot') format('eot'),
		url('/fonts/Radiate-Sans-Bold.ttf') format('ttf'),
		url('/fonts/Radiate-Sans-Bold.woff') format('woff'),
		url('/fonts/Radiate-Sans-Bold.woff2') format('woff2');
	font-display: auto;
	font-style: normal;
}
